{% extends 'p_principal.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<h2>Usuarios Activos</h2>
<div class= "container">
 <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre del Usuario</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>
                <!-- Asume que tienes una vista de edición y una URL nombrada 'editarusuario' -->
                <a class="btn btn-primary" href="{% url 'editarusuario' user.id %}">Editar</a>
                <!-- Asume que tienes una vista para desactivar usuarios y una URL nombrada 'eliminar_usuario' -->
                <a class="btn btn-danger" href="{% url 'eliminar_usuario' user.id %}" onclick="return confirm('¿Estás seguro de que quieres desactivar este usuario?');">Desactivar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No hay usuarios activos.</td>
        </tr>
        {% endfor %}
      </tr>
    </tbody>
  </table>   
</div>
<br><br><br><br><br><br><br><br>

{% endblock %}


