{% extends 'p_principal.html' %}

{% block content %}
{% load static %}
<br>
<br>
<div class="container">
  <div class="card-body">
    <h4 class="card-title">LISTADO DE PROYECTOS</h4>
    <div class="table-responsive">
        <table class="table">
            <thead >
                <tr id="yuu">
                    <th scope="col">TITULO</th>
                    <th scope="col">FECHA INICIO</th>
                    <th scope="col">FECHA FINALIZACION</th>
                    <th scope="col">DOCUMENTACION</th>
                    <th scope="col">IMAGEN</th>
                    <th scope="col">FASE O ETAPA</th>
                    <th scope="col">GESTION</th>
                    <th scope="col">TIPO PROYECTO</th>
                    <th scope="col">MATERIA</th>
                </tr>
            </thead>
            <tbody>
              {% for itenDatos  in datos %}
                <tr id="tbl">
                    <td>{{ itenDatos.Titulo}}</td>
                    <td>
                        <img src="{{ program.imagen.url }} "height="100"/>
                    </td>
                    
                    <td>{{ program.descripcion }}</td>
                    <td>
                        <a name="" id="" class="btn btn-info" href="{% url 'editar' program.id %}" role="button">EDITAR</a>
                        |
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' program.id %}" role="button">BORRAR</a>
                        <td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
</div>

<div class="card-header">
  <a name=""  class="btn" id="boton1" href="{% url 'crear' %}" role="button">Registrar</a>
</div>
<a name="" id="" class="btn btn-info" href="{% url 'editar' %}" role="button">EDITAR</a>

<div class="card-header">
  <a name=""  class="btn" id="boton1" href="{% url 'crearf' %}" role="button">Registrar</a>
</div>
<a name="" id="" class="btn btn-info" href="{% url 'editarf' %}" role="button">EDITAR</a>

<div class="card-header">
  <a name=""  class="btn" id="boton1" href="{% url 'crearc' %}" role="button">Registrar</a>
</div>
<a name="" id="" class="btn btn-info" href="{% url 'editarc' %}" role="button">EDITAR</a>

<div class="card-header">
  <a name=""  class="btn" id="boton1" href="{% url 'crearg' %}" role="button">Registrar</a>
</div>
<a name="" id="" class="btn btn-info" href="{% url 'editarg' %}" role="button">EDITAR</a>


<div class="card-header">
  <a name=""  class="btn" id="boton1" href="{% url 'crears' %}" role="button">Registrar</a>
</div>
<a name="" id="" class="btn btn-info" href="{% url 'editars' %}" role="button">EDITAR</a>

<div class="card-header">
  <a name=""  class="btn" id="boton1" href="{% url 'creart' %}" role="button">Registrar</a>
</div>
<a name="" id="" class="btn btn-info" href="{% url 'editart' %}" role="button">EDITAR</a>
{% endblock %}
