{% extends 'p_principal.html' %}
{% load static %}
{% block content %}
{% for itenDatos  in datos %}
<br>
<br>
<div  id="tform" >
    <a id="af">
        <img src="{% static 'img\logo.png' %}" alt=".."id="pieportada" > 
        <i class="bi bi-exclude"></i> Proyecto : {{ itenDatos.Titulo}}
    </a>
</div>
<div class='container'id="fondo2">
  <div class="card text-center"id="fondo1">
    <div class="card-header">
    </div>
    <div class="card-body"id="fondo2">
      <div class="container text-center" id="fondo2">
        <div class="row">
          <div class="col" >
            <i class="bi bi-calendar3"></i> Fecha Inicio: <br>{{ itenDatos.Fecha_Inicio }}
          </div>
          <div class="col">
            <i class="bi bi-calendar3"></i> Fecha Finalizacion:<br>{{ itenDatos.Fecha_Finalizacion }}
          </div>
          <div class="col">
            <i class="bi bi-search"></i> BUSCAR GESTION: <br> 
            <select class="form-select form-select-sm" aria-label="Small select example">
              <option selected>asigne una opccion</option>
              <option value="{{ itenDatos.T_Gestion.Id_Gestion }}">{{ itenDatos.T_Gestion.Gestion }}</option>
            </select>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row g-0 text-center">
          <div class="col-sm-6 col-md-8"id="fondo2">
            <div class="card mb-3"id="fondo2">
              <img src="{{ itenDatos.Imagen.url }}" class="card-img-top" height="400"; />
              <div class="card-body" id="fondo2">
                <h5 class="card-title">CARRERA DE INGENIERIA DE SISTEMAS</h5>
                <p class="card-text">Descripcion: {{ itenDatos.Descripcion }} </p>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="accordion" id="accordionExample">
              <ul class="list-group">
                <li class="list-group-item list-group-item-dark">
                  <a href="{{ itenDatos.Documentacion.url }}" class="list-group-item list-group-item-action"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                    <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z"/>
                    <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z"/>
                  </svg> DOCUMENTACION</a>
                </li>
              </ul>
              <br>
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                  <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                </svg> DOCENTE: <br> por asignar con rol
              </div>
              <br>
              <div class="col">
                <i class="bi bi-ui-checks-grid"></i> FASE O ETAPA DE PROYECTO: <br>{{ itenDatos.T_Fase_proyecto.Fase }}
              </div>
              <br>
              <div class="col">
                <i class="bi bi-ui-checks-grid"></i> TIPO DE PROYECTO: <br>{{ itenDatos.T_Tipo_Proyecto.Tipo }}
              </div>
              <br>
              <div class="col">
                <i class="bi bi-ui-checks-grid"></i> ASIGNACION O MATERIA: <br>{{ itenDatos.T_Materia.Materia }}
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item {% if not datos.has_previous %} disabled {% endif %}">
          <a class="page-link" href="{% if datos.has_previous %}?page={{ datos.previous_page_number }}{% else %}#{% endif %}">Previous</a>
        </li>
        {% for num_pagina in datos.paginator.page_range %}
          <li class="page-item {% if num_pagina == datos.number %} active {% endif %}">
            <a class="page-link" href="?page={{ num_pagina }}">{{ num_pagina }}</a>
          </li>
        {% endfor %}
        <li class="page-item {% if not datos.has_next %} disabled {% endif %}">
          <a class="page-link" href="{% if datos.has_next %}?page={{ datos.next_page_number }}{% else %}#{% endif %}">Next</a>
        </li>
      </ul>
    </nav>
    <!-- Controles de paginación -->
    <div class="card-footer text-body-secondary">
    </div>  
  </div>
  {% endfor %}

{% endblock %}